<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let user of users;let i=index">
      <td>{{user.index}}</td>
      <td>{{user.guid}}</td>
      <td>{{user.balance}}</td>
      <td>{{user.isActive}}</td>
      <td><button class="btn btn-info" (click)="edit(user,i)">Edit</button></td>
    </tr>
  </tbody>
</table>