/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-tree{
    width: 22%;
    border: 1px solid;
    background-color: cornflowerblue;
}
.mat-tree-node{
    border: 1px solid;
}