<div class="container">
  <img src="./assets/upload-bg.png" alt="Chose a file to upload" id="bg_img" class="mt-4 d-block mx-auto img-fluid cs-img-border">
  <input type="file" name="file" id="audioUpload" class="d-block mx-auto cs-btn-w" style="position: relative; bottom: 196px;">
  <div class="cs-samplesContainer text-center" style="position: relative; bottom: 146px;">
  <button type="button" class="btn btn-sm btn-secondary">audio_sample_1.wav</button>
  <!-- <button type="button" class="btn btn-sm btn-secondary">audio_sample_2.wav</button>
  <button type="button" class="btn btn-sm btn-secondary">audio_sample_3.wav</button>
  <button type="button" class="btn btn-sm btn-secondary">audio_sample_4.wav</button> -->
  </div>
  <button class="btn btn-primary btn-lg d-block mx-auto cs-btn-w" (click)="audioValidation()" id="submitBtn" style="position: relative; bottom: 55px;">Submit</button>
</div>
